* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: min(100%);
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  width: min(34ch, 70vw);
  min-height: fit-content;
  padding: 50px 20px 30px 20px;
}

.title {
  margin-bottom: 50px;
}

strong {
  color: lightseagreen;
}

main {
  height: 100%;
  padding: 80px 0 50px 0;
  background-color: grey;
  border-top: darkslategrey solid 6px;
}

.card {
  background-color: white;
  padding: 5px 20px;
  border-bottom: darkslategrey solid 6px;
}

.indented-heading {
  width: fit-content;
  margin-top: unset;
  padding: 10px 20px;
  margin-left: -30px;
  background-color: orange;
  border-bottom: orange ridge 10px;
}
